name: Pull Request (Opened)

on:
  pull_request:
    types: [opened]

jobs:
  security_hardening:
    name: Check security hardening
    runs-on: ubuntu-latest
    steps:
    - name: Clone the repository
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
    - name: Ensure SHA pinned actions
      uses: zgosalvez/github-actions-ensure-sha-pinned-actions@8877889a5717dad0b139f1d2925689aa68f88a43

  assign_author:
    name: Assign Author to the Pull Request
    needs: security_hardening
    runs-on: ubuntu-latest
    steps:
    - name: Assign Author to the Pull Request
      uses: technote-space/assign-author@6252488282b99652aef47451a353eb88aea24666

  pr-labeler:
    name: Label the PR based on the branch
    needs: security_hardening
    runs-on: ubuntu-latest
    steps:
    - name: Label the Pull Request
      uses: TimonVS/pr-labeler-action@bd0b592a410983316a454e3d48444608f028ec8e
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
